version: '3'
services:
  mysql:
    container_name: mysql-login
    build: ./docker/mysql
    volumes: 
      - /var/lib/mysql/data
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: administracion
      MYSQL_USER: admin-user
      MYSQL_PASSWORD: login-163
      MYSQL_ROOT_PASSWORD: admin-164
    restart: always

  server:
    container_name: apache-login
    build: ./app
    ports: 
      - "80:80"
    depends_on: 
      - mysql